.text-align-center {
    text-align: center;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
}

.margin-top-0 {
    margin-top: 0;
}